:root{
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
}

.hero::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Couple.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale();
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'sacramento', cursive;
    font-size: 6rem;
}

h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow)
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .nav-link {
  /* font-weight: 600; */
  text-transform:uppercase ;
}


.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
   font-family: 'sacramento', cursive;
   font-size: 3.2rem;
   font-weight: bold;
 }

.home {
  background-image: url(img/);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.home h2 {
  color: var(--pink);
  font-family: 'sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;

  }
}
/* Tab */
@media (max-width: 786px) {
    html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    /* font-weight: 600; */
    font-size: 2rem;
    text-align: center;
  }
}
/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
      }

    .simply-countdown > .simply-section {
        padding: 45px;
        margin: 3px;
      }
}